@model List<PacificBBExtranet.DataAccess.EF.Reservation>

@{
    ViewBag.Title = "Reservations";

}

<h2>Reservations</h2>
@*<a href="/Synch/GetReservations/">Get Reservations</a>*@

@{

    foreach (PacificBBExtranet.DataAccess.EF.Reservation res in Model)
    {
        
         /*   <div style="padding:20px;">
                <div style="clear:both;">
                    <label>@res.Status</label>
                </div>
                <div style="max-height: 376px;overflow-y: auto;">
                    <?xml version='1.0' ?>
                    @Html.Raw(res.ReservationMessage)
                </div>

                <div>
                    @res.FirstName @res.LastName @res.BookingID
                </div>
            </div>
        */
        
        var a = Html.Raw(res.ReservationMessage);
        
        
        <table border="1">
             <tr>
                      <td>@Html.Raw(res.ReservationMessage)</td><tr/>
                      <tr><td><br/>
                                   Guest Name:      @res.GuestName <br/>
                                   BookingID :      @res.BookingID <br/>
                                   Status :         @res.Status <br/>         
                                   Price:           @res.Price @res.Currency<br/>
                                   Rooms Booked :   @res.RoomName <br/>
                                   Guests :         @res.GuestNum <br/>
                                   Arrival Date:    @res.ArrivalDate <br/>
                                   Departure Date:  @res.DepartureDate <br/>
                                   Special Request: @res.Remarks <br />
                       </td></tr>
        </table>
        <br/>
    }
    


}































                </password>
































            </user>
































        </catalog>
































    </server>
</script>