@model PacificBBExtranet.Services.Models.Deals.SpecialInclusionsModel

<div id="id_specialInclusions" class="row">
    <div class="@Html.StyleCol(4)"></div>
    <div class="@Html.StyleCol(4)">
        @using (Html.UcBeginForm("SpecialInclusions", "Deals", "id_specialInclusions"))
        {
            @Html.HiddenFor(x => x.SpecialID)
            @Html.UcTextAreaFor(x => x.Inclusions, "Inclusions", 3, 5)

            @Html.DialogFormSubmitButtons()
        }
    </div>
    <div class="@Html.StyleCol(4)"></div>

</div>
