@model PacificBBExtranet.Services.Models.Deals.DealsIndexModel
@{
    ViewBag.Title = "Deals";
}

<div>
    <div class="pull-left" style="width:500px;">
        <label style="margin-left:3%;float:left;width:100%;">Specials</label>
        <div style="width:65%;float:left;" id="id_specialsDropDown">
            @Html.Partial("~/Views/Deals/_SpecialsDropDown.cshtml", Model)
        </div>
        @Html.DialogLink(Url.Action("SpecialNew", "Deals", null), "", "New special rate", "fa fa-plus fa-big")
    </div>

    <div class="pull-right" style="width:30%;">
        <div class="@Html.StyleCol(4)">
            @*@Html.Partial("_GridClearButton")*@
        </div>
        <div class="form-group @Html.StyleCol(8) row">
            <div class="@Html.StyleCol(9)">
                <label>Change value to</label>
                    <div class="btn-group hidden" data-toggle="buttons" id="stopSellButtons">
                        <label class="btn btn-default">
                            <input type="radio" id="q156" name="test" value="1" /> On
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" id="q157" name="test" value="0" /> Off
                        </label>
                     </div>
                    <input class="input-group" id="newValue" />
                </div>
            <div class="@Html.StyleCol(3)" style="padding-top: 5%;">
                <input type="button" style="margin-top:39%;" class="btn btn-sm btn-info pull-right input-group" id="saveNewValuesButton" value="Save" />
            </div>
        </div>
    </div>
</div>


<div style="clear:both;" id="id_dealsPanel">
    <ul class="custom nav nav-tabs">
        <li class="active" data-save-action="UpdateSpecialRoomAvailability">
            <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_availability">Availability</a>
        </li>
        <li data-save-action="UpdateSpecialRates">
            <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_rates">Rates</a>
        </li>
        <li data-save-action="UpdateSpecialPersonRate">
            <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_personrate">Person Rate</a>
        </li>
        <li data-save-action="UpdateSpecialStopSell">
            <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_stopsell">Stop Sell</a>
        </li>
        <li data-save-action="UpdateSpecialMinNights">
             <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_minnights">Min Nights</a>
        </li>
        <li data-save-action="UpdateSpecialMaxNights">
            <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_maxnights">Max Nights</a>
        </li>
        <li data-save-action="">
            <a data-toggle="tab" href="#id_deals_contentPanel" id="id_deals_inclusions">Inclusions</a>
        </li>
    </ul>

    <div class="tab-content">
        
        <div id="id_deals_contentPanel" class="tab-pane fade in active">

        </div>
    </div>
</div>

<style>
    .fa-big{
        font-size:28px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#id_deals_availability").on("click", function () {
            CommonOnTabclick('true', 'false');
            $.get("/Deals/AvailabilityGrid", { specialID: $("#SelectedSpecial").val() }, function (response) {
                $("#id_deals_contentPanel").html(response)
            })
        })
        $("#id_deals_rates").on("click", function () {
            CommonOnTabclick('true', 'false');
            $.get("/Deals/RatesGrid", { specialID: $("#SelectedSpecial").val() }, function (response) {
                $("#id_deals_contentPanel").html(response)
            })
        })
        $("#id_deals_personrate").on("click", function () {
            CommonOnTabclick('true', 'false');
            $.get("/Deals/PersonRateGrid", { specialID: $("#SelectedSpecial").val() }, function (response) {
                $("#id_deals_contentPanel").html(response)
            })
        })
        $("#id_deals_minnights").on("click", function () {
            CommonOnTabclick('true', 'false');
            $.get("/Deals/MinNightsGrid", { specialID: $("#SelectedSpecial").val() }, function (response) {
                $("#id_deals_contentPanel").html(response)
            })
        })
        $("#id_deals_maxnights").on("click", function () {
            CommonOnTabclick('true', 'false');
            $.get("/Deals/MaxNightsGrid", { specialID: $("#SelectedSpecial").val() }, function (response) {
                $("#id_deals_contentPanel").html(response)
            })
        })

        $("#id_deals_stopsell").on("click", function () {
            var specialID = $("#SelectedSpecial").val();
            CommonOnTabclick('false', 'true');
            if (specialID != "") {
                $.get("/Deals/StopSellGrid", { specialID: $("#SelectedSpecial").val() }, function (response) {
                    $("#id_deals_contentPanel").html(response)
                    UpdateStopCellColors();
                })
            }
            
        })

        $("#id_deals_inclusions").on("click", function () {
            CommonOnTabclick('false', 'false');
            var specialID = $("#SelectedSpecial").val();
            if (specialID != "") {
                $.get("/Deals/SpecialInclusions", { specialID: $("#SelectedSpecial").val() }, function (response) {
                    $("#id_deals_contentPanel").html(response)
                })
            }
            

        })

        $("nav-selected").removeClass("nav-selected");
        $("nav-selected").addClass("white");

        $("#id_layout_deals > a").addClass("nav-selected");
        $("#id_layout_deals > a").removeClass("white");



        $("#stopSellButtons > label > input").on("change", function () {
            var val = $(this).val();
            $("#newValue").val(val);
        })
    })

    function CommonOnTabclick(showValueField, showCheckBoxes) {
        AjaxHelper.SetLoadingOnTarget("#id_deals_contentPanel");
        $("#stopSellButtons > label.active").removeClass("active")
        $("#newValue").val('');
        if (showValueField == 'true') {
            $("#newValue").removeClass("hidden");
        } else {
            $("#newValue").addClass("hidden");
        }
        if (showCheckBoxes == 'true') {
            $("#stopSellButtons").removeClass("hidden");
        } else {
            $("#stopSellButtons").addClass("hidden");
        }
    }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#saveNewValuesButton").click("click", function () {
            var value = $("#newValue").val()
            if (Math.floor(value) == value && $.isNumeric(value)) {
                $("#id_grid-component td.ui-selected > .td-value > span").text(value);
                $("#clearButton").trigger("click");
            }

            //for stopSellOnly
            //if ($("#id_deals_stopsell").parent().hasClass("active")) {
            //    if (value == '1') {
            //        $("#id_grid-component td.ui-selected").addClass("light-red-bg")
            //    } else {
            //        $("#id_grid-component td.ui-selected").removeClass("light-red-bg")
            //    }
            //}

            $("#newValue").val("");
            var eArray = $("#id_grid-component td.ui-selected");
            var dateDic = [];

            $.each(eArray, function (i, e) {
                var dateObj = {
                    date:$(e).data("date"),
                    value: $(e).find(".td-value > span").text()
                };
                dateDic.push(dateObj);
            });
             
            var action = $("#id_dealsPanel > ul > li.active").data("save-action");
            var url = "/Deals/" + action;
            $.post(url, { datesAvailability: dateDic, specialID: $("#SelectedSpecial").val() })
            eArray.removeClass("ui-selected");
            UpdateStopCellColors();
        })    
    })

    function UpdateStopCellColors() {
        if ($("#id_deals_stopsell").parent().hasClass("active")) {
            $("td > div.td-value > span").filter(function () {
                return $(this).text() === "1";
            }).parent().parent().css("background-color", "#F7A7A7");

            $("td > div.td-value > span").filter(function () {
                return $(this).text() === "0";
            }).parent().parent().css("background-color", "");
        }
    }


</script>